.NewNav{
    display: flex;
    text-indent: 10px;
    margin: auto;
    padding: 2rem;
    color: black;
    background-color: white;
    margin-bottom: 0px ;

}

.Logout{
    margin-left: auto;
    border: 1px solid;
    border-radius: 12px;
}

.Signin{
    margin-left: auto;
    border: 1px solid;
    border-radius: 12px;
    font-weight: bold;
    margin-right: 20px;
}

.Signup{
    border: 1px solid;
    border-radius: 12px;
    font-weight: bold;
    margin-right: 10px
}

.AnimalShapes{
    border: 1px solid;
    border-radius: 12px;
    font-weight: bold;
    margin-left: 0px;
}