.NewNav{

    display: flex;
}

.Logout{
    margin-left: auto;
    border: 1px solid;
    border-radius: 12px;
}

.Signin{
    margin-left: auto;
    border: 1px solid;
    border-radius: 12px;
    font-weight: bold;
    margin-right: 20px;
}

.Signup{
    border: 1px solid;
    border-radius: 12px;
    font-weight: bold;
    margin-right: 10px
}

.AnimalShapes{
    border: 1px solid;
    border-radius: 12px;
    font-weight: bold;
    margin-left: 0px;
}